<!--This is the home page for the site with an image and some info about the site-->
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click <a asp-action="SignUp">here</a> for sign up times.</p>
</div>
<div class="text-center">
    <img src="~/img/layton-utah-temple.jpg" width="350" height="250"/>
    <br />
    <br />
    <p>
        General Tour Instructions:

        Masks are required.
        Park on Rosewood (west side of the temple) and meet at the Visitors Center trailer.
        Dress casual, except on Sunday
        Special Accommodations (check the appropriate box when signing up for a tour):

        Spanish-speaking tours are available on Thursday, Friday, Saturday or Sunday
        Available Tours:

        Tour (Outdoor): We have been asked to discontinue outside tours at this time.
        Trailer Tour: All tours will be inside the trailer. Masks are required
        Please call 801-628-4488 or email LaytonTempleTours@gmail.com with questions or special requests.
    </p>
</div>